name: CI Build

on:
  push:
    branches: [ "main", "master"]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Run Unit Tests
      run: dotnet test CoopQueue.UnitTests/CoopQueue.UnitTests.csproj --verbosity minimal        

    - name: Create .env from Secrets
      run: |
        echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
        echo "IGDB_CLIENT_ID=${{ secrets.IGDB_CLIENT_ID }}" >> .env
        echo "IGDB_CLIENT_SECRET=${{ secrets.IGDB_CLIENT_SECRET }}" >> .env
        echo "JWT_TOKEN=${{ secrets.JWT_TOKEN }}" >> .env
        echo "INVITE_CODE=${{ secrets.INVITE_CODE }}" >> .env

    - name: Build with Docker Compose
      run: docker compose build
